[Unit]
Description=Btrfs Manager Privileged Helper
Documentation=https://github.com/MiguelLopesDel/Btrfs-Manager
After=dbus.service

[Service]
Type=dbus
BusName=org.btrfsmanager.Helper
ExecStart=/usr/lib/btrfs-manager/btrfs-manager-helper service
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
